<web-app>

	<servlet>
		<servlet-name>MySqlConnector</servlet-name>
		<servlet-class>MySqlConnector</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MySqlConnector</servlet-name>
		<url-pattern>/MySqlConnector</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>UserRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/UserRegister</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BloodSearch</servlet-name>
		<servlet-class>BloodSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BloodSearch</servlet-name>
		<url-pattern>/BloodSearch</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserDto</servlet-name>
		<servlet-class>UserDto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDto</servlet-name>
		<url-pattern>/UserDto</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BloodBankReg</servlet-name>
		<servlet-class>BloodBankReg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BloodBankReg</servlet-name>
		<url-pattern>/BloodBankReg</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BloodBank</servlet-name>
		<servlet-class>BloodBank</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BloodBank</servlet-name>
		<url-pattern>/BloodBank</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BankDto</servlet-name>
		<servlet-class>BankDto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BankDto</servlet-name>
		<url-pattern>/BankDto</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminBloodBank</servlet-name>
		<servlet-class>AdminBloodBank</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminBloodBank</servlet-name>
		<url-pattern>/AdminBloodBank</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteBank</servlet-name>
		<servlet-class>DeleteBank</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBank</servlet-name>
		<url-pattern>/DeleteBank</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserInfo</servlet-name>
		<servlet-class>UserInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInfo</servlet-name>
		<url-pattern>/UserInfo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserDelete</servlet-name>
		<servlet-class>UserDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDelete</servlet-name>
		<url-pattern>/UserDelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserSearch</servlet-name>
		<servlet-class>UserSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserSearch</servlet-name>
		<url-pattern>/UserSearch</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UserProfile</servlet-name>
		<servlet-class>UserProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserProfile</servlet-name>
		<url-pattern>/UserProfile</url-pattern>
	</servlet-mapping>
</web-app>